@model IEnumerable<TiendaMvc.Models.Producto>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fabricante_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion_corta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_coste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_venta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fabricante_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion_corta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio_coste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio_venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.nombre)
            </td>

            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.id_producto }) |
                    @Html.ActionLink("Details", "Details", new { id=item.id_producto }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.id_producto })
                </td>*@

        </tr>
    }

</table>